.icon-bar {
    width: 90px;
    /* Set a specific width */
    background-color: #555;
    /* Dark-grey background */
}

.icon-bar a {
    display: block;
    /* Make the links appear below each other instead of side-by-side */
    text-align: center;
    /* Center-align text */
    padding: 16px;
    /* Add some padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 36px;
    /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000;
    /* Add a hover color */
}

.activeh {
    background-color: #04AA6D;
    /* Add an active/current color */
}


/* horizontal*/

.icon-barh {
    width: 100%;
    /* Full-width */
    background-color: #555;
    /* Dark-grey background */
    overflow: auto;
    /* Overflow due to float */
}

.icon-barh a {
    float: left;
    /* Float links side by side */
    text-align: center;
    /* Center-align text */
    width: 10%;
    /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0;
    /* Some top and bottom padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 36px;
    /* Increased font size */
}

.icon-barh a:hover {
    background-color: #000;
    /* Add a hover color */
}

.activeh {
    background-color: #04AA6D;
    /* Add an active/current color */
}


/* For menu ICon */

.menufirst {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    opacity: 0;
    /* -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);*/
}


/* For Accordian */


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


/* For Animated Accordian */

.accordion1 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion1:hover {
    background-color: #ccc;
}

.panel1 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after,
.accordion1:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Style the tab buttons */

.tablink2 {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}


/* Change background color of buttons on hover */

.tablink2:hover {
    background-color: #777;
}


/* Set default styles for tab content */

.tabcontent2 {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}


/* Style each tab content individually */

#London2 {
    background-color: red;
}

#Paris2 {
    background-color: green;
}

#Tokyo2 {
    background-color: blue;
}

#Oslo2 {
    background-color: orange;
}